$verde_whatsapp: #38e54d;
$width_button: 10rem;

@mixin largeScreen {
  @media only screen and (min-width: 1000px) {
    @content;
  }
}

#card_about {
  border: none !important;


  img.card-img-top {
    max-width: 33rem;
    border-radius: 10px !important;

    @include largeScreen {
      // width: 2rem !important;
      box-shadow: 2px 2px 6px rgba(#666, 0.3);
    }
  }

  .card-text {
    color: #666;
    font-family: "Poppins" !important;
    font-weight: 200;
  }
  .about_vs {
    font-family: Quicksand !important;
    color: #666;
  }


}
