$liberty: rgba(86, 97, 167, 1);
$cyan-process-3: rgba(48, 181, 231, 1);
$violet-blue-crayola: rgba(110, 119, 176, 1);
$cyan-process: rgba(23, 178, 237, 1);
$blue-pigment: rgba(42, 56, 143, 1);


.botoncito {
  width: 400px !important;
  height: 300px !important;
}

