#serviciosHeader {
  .bi {
    text-align: center;
    font-size: 5rem;
    color: rgb(208, 11, 11) !important;
  }

  div.iono_header.d-flex.container {
    width: 200px;
    height: 200px;
    background-color: aqua !important;
  }
}
