@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap");

$liberty: rgb(218, 43, 43);
$cyan-process-3: rgba(48, 181, 231, 1);
$violet-blue-crayola: rgba(110, 119, 176, 1);
$cyan-process: rgba(23, 178, 237, 1);
$blue-pigment: rgba(42, 56, 143, 1);

$theme-colors: (
  "info": tomato,
  "danger": teal,
  "blue": $violet-blue-crayola,
);

@import "./../node_modules/bootstrap/scss/bootstrap.scss";
// @import './sass/valeria_components/header/Banner_nav_comp/';

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins",'Quicksand' !important;
}



