$violet-blue-crayola: #47B5FF;



.service_header {
  background-color: $violet-blue-crayola !important;
  // background-color: blue !important;
  //   display: flex !important;
  margin-top: 2px;
  border-radius: 40px;
  padding: 20px;
  opacity: 1;
  width: 100%;
  height: 100%;

  @include extraLargeScreen {
    position: absolute;
    width: 1050px;
    height: 330px;
    text-align: center;
    opacity: 0.95;
    // bottom: unset;
    // left: 5%;
    // right: 5%;
    z-index: 5;
    box-shadow: 5px 4px 9px rgba($violet-blue-crayola, 0.9);
    // background-color: white !important;
  }

}
